<form class="search-form pure-form" autocomplete="off">
  <fieldset>
    <legend>
      Type your favorite animal below:
    </legend>

    <input type="text" name="commonName" placeholder="Water buffalo">

    <button type="submit" class="pure-button pure-button-primary">Go</button>

    <span class="message-container"></span>
  </fieldset>
</form>

<div id="species-map" style="height: 500px;"></div>

<script type="text/javascript">
  $(document).ready(function() {
    var initializeMap = function(idString) {
      var mymap = L.map(idString).setView([0, 0], 2);
      L.tileLayer('http://korona.geog.uni-heidelberg.de/tiles/roads/x={x}&y={y}&z={z}', {
        minZoom: 2,
        maxZoom: 4,
        attribution: 'Imagery from <a href="http://giscience.uni-hd.de/">GIScience Research Group @ University of Heidelberg</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
      }).addTo(mymap);
      return mymap;
    };
    var addMarker = function(lat, lng) {
      var marker = L.marker([lat, lng]);
      markers.push(marker);
      marker.addTo(mymap);
    };
    var clearMarkers = function() {
      markers.map(function(marker) {
        mymap.removeLayer(marker);
      });
      markers = [];
    };

    var mymap = initializeMap("species-map");
    var markers = [];

    $(".search-form").submit(function(e) {
      e.preventDefault();

      var commonName = $(this).find("input").val();

      var $button = $(this).find("button");
      $button.text("Loading...");
      var $messageContainer = $(this).find(".message-container");
      $messageContainer.text("");

      $.get("/search.json", { commonName: commonName })
       .done(function(results) {
         clearMarkers();
         results = JSON.parse(results)
         results.map(function(result) {
           addMarker(result["latitude"], result["longitude"]);
         });
         var message = (results && results[0]) ?
           "Showing results for " + (results[0].common_name || results[0].species_name) + "." :
           "No results found for " + commonName + ".";
         $messageContainer.text(message);
       })
       .always(function() {
         $button.text("Go");
       });
    });
  });
</script>
